/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=IM+Fell+French+Canon:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #12785F;
    --secondaryDarkColor: #E5DAC3;
    --secondaryMiddleColor: #F4EFE7;
    --secondaryLightColor: #F5F0E7;
    --headerfooterColor: #392F2D;
    --accentColor: #E49636;
    --fruSoegaardDarkColor: #AF6E78;
    --fruSoegaardLightColor: #E7D4D7;
    --hrSoegaardDarkColor: #324780;
    --hrSoegaardLightColor: #CAD2E5;
    --backgroundColor: whiteSmoke;
    --baseTextDarkColor: #392F2D;
    --baseTextLightColor: #F5F5F5;


    /* TEXT  */
    --lineheight: 1.4;
    --headerFont: "IM Fell French Canon", serif;
    --baseTextFont: "Montserrat", serif;

    /* SPACING */
    --sectionSpacing: 100px;
    --headerToTextSpacing: 0px;
    --rowSpacing: 130px;
    --gapSpacing: 32px;


    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
    --interactionShadow: 3px 3px 5px #1b1b1b8a;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.bold {
    font-weight: 700;
}

.fullWidth {
    grid-column: 1/-1;
}

/* --- GENERALS --- */

body {
    margin: 0;
    line-height: var(--lineheight);
    background-color: var(--backgroundColor);
}

main {
    display: grid;
    grid-template-columns: 10% repeat(12, 1fr) 10%;
    max-width: 1920px;
    margin: auto;
}

section {
    grid-column: 1/-1;
    margin: var(--sectionSpacing) 0;
}

article {}

a {
    font-family: var(--baseTextFont);
    color: var(--baseTextLightColor);

}



img {
    max-width: 100%;
}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    grid-column: 2 / -2;

}

h1 {
    margin: var(--headerToTextSpacing);
    font-family: var(--headerFont);
    margin: var(--gapSpacing) var(--headerToTextSpacing) 0;
    font-weight: 400;
    font-family: 1.8rem;

}

h2 {
    font-family: var(--headerFont);
    margin: var(--gapSpacing) var(--headerToTextSpacing) 0;
    font-weight: 400;
    font-size: 1.6rem;

}

h3 {
    font-family: var(--headerFont);
    margin: 16px var(--headerToTextSpacing) 0;
    font-weight: 400;
    font-size: 1.4rem;
}

p {
    max-width: 65ch;
    margin: 2px 0;
    font-family: var(--baseTextFont);
    font-size: 1.2rem;
}



/* --- BUTTONS --- */
button {
    cursor: pointer;
    font-family: var(--baseTextFont);

}

a.btn {
    background: var(--primaryColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--interactionShadow);
    padding: 8px 16px;
    min-width: 250px;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    text-align: center;
}

header a.btn {
    font-size: .9rem;
}

a.btn:hover {
    filter: grayscale(40%);
    transform: scale(.95);
}

/* --- HEADER --- */
header {
    background: linear-gradient(to Bottom, var(--headerfooterColor) 60%, rgba(0, 0, 0, 0));
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    padding: 10px;
    margin: auto;
}

.openIndicator {
    font-size: .9rem;
    color: var(--baseTextLightColor);
}

.openIndicator div {
    width: 15px;
    height: 15px;
    background: green;
    border-radius: var(--round);
    display: inline-block;
    margin-right: 5px;
}

header a.btn {
    padding: 5px 16px;
    min-width: unset;
}

.topnav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

header .btnContainer {
    display: flex;
    gap: 5px;
}

.btnContainer a.btn:nth-child(2) {
    background: var(--hrSoegaardDarkColor);
}

.btnContainer a.btn:nth-child(3) {
    background: var(--accentColor);
}

.topnav a,
.dropdown .dropbtn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: inherit;
    margin: 0;
    height: fit-content;
    font-size: 1.3rem;
    font-family: var(--baseTextFont);
}

.dropdown {
    height: fit-content;
}

header .active {
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90px;
    background: var(--secondaryLightColor);
    min-width: 160px;
    box-shadow: var(--interactionShadow);
    z-index: 1;
    border-radius: var(--borderRadius);
}

.dropdown-content a {
    float: none;
    color: var(--baseTextDarkColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1rem;
    border-radius: var(--borderRadius);

}

header a.logo {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    padding: 0;

}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}



/* --- FOOTER --- */
footer {
    background: var(--headerfooterColor);
    padding-bottom: var(--gapSpacing);
}

footer p {
    font-size: 1rem;

}

footer .imgContainer {
    display: flex;
}

footer .imgContainer img {
    width: calc(100% / 4);
    height: 300px;
    object-fit: cover;
    object-position: center;

}

footer .contentContainer {
    max-width: 1920px;
    margin: auto;
    color: var(--baseTextLightColor);
    display: flex;
    justify-content: space-between;
}

footer .openingHours {
    min-width: 250px;
}

footer .openingHours div {
    display: flex;
    justify-content: space-between;
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    padding-top: 160px;
}

footer .logo {
    width: 300px;
    position: absolute;
    top: -150px
}


footer .contact i {
    margin-right: 5px;
}

footer .contact a {
    margin: 2px 0;
    display: inline-block;
}

footer .adress {
    display: flex;
    align-items: center;
}

footer .social {
    font-size: 1.3rem;
    display: flex;
    gap: 16px;
}

footer .social i {
    filter: drop-shadow(1px 1px 1px #1b1b1b8a);
}

footer .fruInsta {
    color: var(--fruSoegaardDarkColor);
}

footer .hrInsta {
    color: var(--hrSoegaardDarkColor);
}

footer .copyright {
    margin: auto;
    text-align: center;
    color: var(--baseTextLightColor);
    font-size: .8rem;

}


/* --- CAROUSEL --- */
.carousel-container {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 700px;

}

.carousel {
    padding: 0 20%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.carousel-slide.active {
    transform: scale(1);
    opacity: 1;
}

.carousel-slide.inactive {
    transform: scale(0.9);
    opacity: 0.6;
}

.content {
    display: flex;
    gap: var(--gapSpacing);
    justify-content: space-between;
    align-items: center;
    background: #FFF8F8;
    box-shadow: 6px 14px 21px rgba(0, 0, 0, 0.24);
    border-radius: var(--borderRadius);
    height: 660px;
}

.carousel h2 {
    font-family: "Handlee", serif;
    font-size: 2.2rem;
}

.carousel p {
    margin: 10px 0;
}

.carousel .text {
    width: 100%;
    margin: 60px 0 60px 60px;
}

.carousel .text div {
    display: flex;
    gap: var(--gapSpacing);
    justify-content: space-between;
}

.carousel .season {
    font-size: 1rem;
    margin-top: 0;
}

.carousel .text .meal {
    display: block;
    margin: 10px 0;
}

.carousel .text .meal p {
    margin: 0;
}

.carousel a.btn {
    position: absolute;
    bottom: 60px;
}

.carousel img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    height: 100%;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 95%;
    margin: 0 2.5%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background: var(--primaryColor);
    border: none;
    width: 125px;
    height: 125px;
    border-radius: var(--round);
    color: white;
    padding: 10px;
    font-size: 60px;
    box-shadow: var(--interactionShadow);
    transition: .3s;
}

.carousel-controls button:hover {
    filter: grayscale(40%);
    transform: scale(.95);
}

/* --- HEADER --- */
@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}