/* --- IMPORTS --- */



/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #12785F;
    --secondaryDarkColor: #E5DAC3;
    --secondaryMiddleColor: #F4EFE7;
    --secondaryLightColor: #F5F0E7;
    --headerfooterColor: #392F2D;
    --accentColor: #E49636;
    --fruSoegaardDarkColor: #AF6E78;
    --fruSoegaardLightColor: #E7D4D7;
    --hrSoegaardDarkColor: #324780;
    --hrSoegaardLightColor: #CAD2E5;
    --backgroundColor: whiteSmoke;
    --baseTextDarkColor: #392F2D;


    /* TEXT  */
    --lineheight: 1.4;
    /* --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem; */

    /* SPACING */
    --sectionSpacing: 100px;
    --headerToTextSpacing: 0px;
    --rowSpacing: 130px;
    --gapSpacing: 32px;


    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
    --interactionShadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidth {
    grid-column: 1/-1;
}

/* --- GENERALS --- */

body {
    margin: 0;
    line-height: var(--lineheight);
    background-color: var(--backgroundColor);
}

main {
    display: grid;
    grid-template-columns: 10% repeat(12, 1fr) 10%;
    max-width: 1920px;
    margin: auto;
}

section {}

article {}

a {}

i {}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    grid-column: 2 / -2;

}

h1 {
    margin: var(--headerToTextSpacing);
}

h2 {}

h3 {}

p {
    max-width: 75ch;
    margin: var(--headerToTextSpacing);

}

/* --- BUTTONS --- */
button {
    cursor: pointer;
}

a .btn {}

a .btn:hover {}