/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=IM+Fell+French+Canon:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #12785F;
    --secondaryDarkColor: #E5DAC3;
    --secondaryMiddleColor: #F4EFE7;
    --secondaryLightColor: #F5F0E7;
    --headerfooterColor: #392F2D;
    --accentColor: #E49636;
    --fruSoegaardDarkColor: #AF6E78;
    --fruSoegaardLightColor: #E7D4D7;
    --hrSoegaardDarkColor: #324780;
    --hrSoegaardLightColor: #CAD2E5;
    --backgroundColor: whiteSmoke;
    --baseTextDarkColor: #1b1919;
    --baseTextLightColor: #F5F5F5;


    /* TEXT  */
    --lineheight: 1.4;
    --headerFont: "IM Fell French Canon", serif;
    --baseTextFont: "Montserrat", serif;

    /* SPACING */
    --sectionSpacing: 100px;
    --headerToTextSpacing: 0px;
    --columnSpacing: 130px;
    --gapSpacing: 32px;


    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
    --interactionShadow: 3px 3px 5px #1b1b1b8a;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.bold {
    font-weight: 700;
}

.fullWidth {
    grid-column: 1/-1;
}

/* --- GENERALS --- */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    line-height: var(--lineheight);
    background-color: var(--backgroundColor);
}

main {
    display: grid;
    grid-template-columns: 10% repeat(12, 1fr) 10%;
    max-width: 1920px;
    margin: auto;
}

section {
    grid-column: 2/-2;
    margin-bottom: var(--sectionSpacing);
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: var(--columnSpacing);
    align-items: center;
}

article {}

a {
    font-family: var(--baseTextFont);
    color: var(--baseTextLightColor);

}

img {
    max-width: 100%;
    border-radius: var(--borderRadius);
}

/* --- TEXT --- */
h1 {
    margin: var(--headerToTextSpacing);
    font-family: var(--headerFont);
    margin: var(--gapSpacing) var(--headerToTextSpacing) 0;
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.1rem;
    color: var(--baseTextDarkColor);

}

h2 {
    font-family: var(--headerFont);
    margin: var(--gapSpacing) var(--headerToTextSpacing) 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.1rem;
    color: var(--baseTextDarkColor);

}

h3 {
    font-family: var(--headerFont);
    margin: 16px var(--headerToTextSpacing) 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.1rem;
    color: var(--baseTextDarkColor);
}

p {
    max-width: 65ch;
    margin: 15px 0;
    font-family: var(--baseTextFont);
    font-size: 1.2rem;
    color: var(--baseTextDarkColor);
}



/* --- BUTTONS --- */
button {
    cursor: pointer;
    font-family: var(--baseTextFont);

}

a.btn {
    background: var(--primaryColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--interactionShadow);
    padding: 8px 16px;
    min-width: 250px;
    text-decoration: none;
    transition: .3s;
    display: inline-block;
    text-align: center;
}

header a.btn {
    font-size: .9rem;
}

a.btn:hover {
    filter: contrast(150%);
    transform: scale(1.05);
}

a.btn.fruBtn {
    background: var(--fruSoegaardDarkColor);
    margin-right: var(--gapSpacing);
}

a.btn.hrBtn {
    background: var(--hrSoegaardDarkColor);
}

/* --- HEADER --- */
header {
    background: linear-gradient(to Bottom, var(--headerfooterColor) 60%, rgba(0, 0, 0, 0));
    height: 150px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    padding: 10px;
    margin: auto;
}

.openIndicator {
    font-size: .9rem;
}

.openIndicator p {
    margin: 2px 0;
    color: var(--baseTextLightColor);

}

.openIndicator div {
    width: 15px;
    height: 15px;
    background: green;
    border-radius: var(--round);
    display: inline-block;
    margin-right: 5px;
}

header a.btn {
    padding: 5px 16px;
    min-width: unset;
}

.topnav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

header .btnContainer {
    display: flex;
    gap: 10px;
}

.btnContainer a.btn:nth-child(2) {
    background: var(--hrSoegaardDarkColor);
}

.btnContainer a.btn:nth-child(3) {
    background: var(--accentColor);
}

.topnav a,
.dropdown .dropbtn {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    background-color: inherit;
    margin: 0;
    height: fit-content;
    font-size: 1.3rem;
    font-family: var(--baseTextFont);
}

.dropdown {
    height: fit-content;
}

header .active {
    text-decoration: underline;
}

.topnav .icon {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90px;
    background: var(--secondaryLightColor);
    min-width: 160px;
    box-shadow: var(--interactionShadow);
    z-index: 1;
    border-radius: var(--borderRadius);
}

.dropdown-content a {
    float: none;
    color: var(--baseTextDarkColor);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1rem;
    border-radius: var(--borderRadius);

}

header a.logo {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    padding: 0;

}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* --- FOOTER --- */
footer {
    background: var(--headerfooterColor);
    padding-bottom: var(--gapSpacing);
}

footer p,
footer h2,
footer h3 {
    color: var(--baseTextLightColor);

}

footer p {
    font-size: 1rem;
    margin: 2px 0;
}

footer .imgContainer {
    display: flex;
}

footer .imgContainer img {
    width: calc(100% / 4);
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: unset;
}

footer .contentContainer {
    max-width: 1920px;
    margin: 0 10%;
    color: var(--baseTextLightColor);
    display: flex;
    justify-content: space-between;
}

footer .openingHours {
    min-width: 250px;
}

footer .openingHours div {
    display: flex;
    justify-content: space-between;
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    position: relative;
    padding-top: 160px;
}

footer .logo {
    width: 300px;
    position: absolute;
    top: -150px
}


footer .contact i {
    margin-right: 5px;
}

footer .contact a {
    margin: 2px 0;
    display: inline-block;
}

footer .adress {
    display: flex;
    align-items: center;
}

footer .social {
    font-size: 1.3rem;
    display: flex;
    gap: 16px;
}

footer .social i {
    filter: drop-shadow(1px 1px 1px #1b1b1b8a);
}

footer .fruInsta {
    color: var(--fruSoegaardDarkColor);
}

footer .hrInsta {
    color: var(--hrSoegaardDarkColor);
}

footer .copyright {
    margin: auto;
    text-align: center;
    color: var(--baseTextLightColor);
    font-size: .8rem;

}

/* --- HERO --- */
.hero {
    margin-top: -65px;
    position: relative;
}

.hero .imgContainer {
    height: 100%;
    grid-column: 1/-1;

}

.hero .imgContainer .overlay {
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 0;
}

.landingpage .hero img {
    height: 85vh;
    width: 100%;
    object-fit: cover;
}

.landingpage .hero .textContainer {
    position: absolute;
    bottom: 200px;
    color: var(--baseTextLightColor);
    text-align: center;
    width: 100%;
}

.landingpage .hero h1 {
    font-size: 5rem;
    color: var(--baseTextLightColor);
    text-transform: uppercase;
}

.landingpage .hero h2 {
    font-family: var(--baseTextFont);
    color: var(--baseTextLightColor);
    font-size: 1.8rem;
}


.changingTextContainer {
    margin-top: 10px;

}

.changingText {
    position: absolute;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: opacity 1.2s ease-in-out;
}

.changingText.active {
    opacity: 1;
}

.changingText.hidden {
    opacity: 0;
}

.scrollIndicator {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primaryColor);
    width: 100px;
    height: 100px;
    font-size: 3rem;
    border-radius: var(--round);
    border: none;
    color: var(--baseTextLightColor);
    text-align: center;
    padding: 20px;
    animation: bounce 2s infinite;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.scrollIndicator.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* --- LANDINGPAGE SECTIONS --- */
.landingpage .introImgContainer {
    position: relative;
}

.landingpage .hrLogo,
.fruLogo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    position: absolute;
}

.hrLogo {
    bottom: 70px;
    left: -100px;
}

.fruLogo {
    bottom: -40px;
    left: -10px;
}

.bryghusOverview {
    grid-template-columns: unset;
}

.bryghusOverview h1 {
    text-align: center;
}

.bryghusOverview h3 {
    font-family: var(--baseTextFont);
    font-weight: 700;
    text-align: center;
}

.bryghusOverview .contentContainer {
    display: flex;
    justify-content: space-between;
    margin-top: var(--gapSpacing);
}

.bryghusOverview a {
    display: inline-block;
    color: var(--baseTextDarkColor);
    text-decoration: none;
}

.bryghusOverview img {
    height: 180px;
    object-fit: cover;
}

.bryghusOverview a:hover img {
    animation: float 2s ease-in-out infinite;

}

.gallery {
    grid-template-columns: unset;
    display: flex;
    gap: var(--gapSpacing);
    height: 750px;
    margin-bottom: 0;
}

.gallery .imgContainer {
    overflow: hidden;
    height: 600px;
    width: calc(100% / 4 - 32px);
    border-radius: var(--borderRadius);
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s;
}

.gallery .imgContainer:nth-child(odd) {
    margin-top: -150px;
}

.gallery .imgContainer:hover img {
    transform: scale(1.2);
}

/* --- CAROUSEL --- */
.carousel-container {
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    height: 700px;
    grid-column: 1/-1;
}

.carousel {
    padding: 0 20%;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform-origin: center;
}

.carousel-slide.active {
    transform: scale(1);
    opacity: 1;
}

.carousel-slide.inactive {
    transform: scale(0.9);
    opacity: 0.6;
}

.content {
    display: flex;
    gap: var(--gapSpacing);
    justify-content: space-between;
    align-items: center;
    background: #FFF8F8;
    box-shadow: 6px 14px 21px rgba(0, 0, 0, 0.24);
    border-radius: var(--borderRadius);
    height: 660px;
}

.carousel h2 {
    font-family: "Handlee", serif;
    font-size: 2.2rem;
}

.carousel p {
    margin: 10px 0;
}

.carousel .text {
    width: 100%;
    margin: 60px 0 60px 60px;
}

.carousel .text div {
    display: flex;
    gap: var(--gapSpacing);
    justify-content: space-between;

}

.carousel .text div p:nth-child(2) {
    min-width: 100px;
    text-align: right;
}

.carousel .season {
    font-size: 1rem;
    margin-top: 0;
}

.carousel .text .meal {
    display: block;
    margin: 10px 0;
}

.carousel .text .meal p {
    margin: 0;
}

.carousel a.btn {
    position: absolute;
    bottom: 60px;
}

.carousel img {
    width: 35%;
    height: auto;
    object-fit: cover;
    border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
    height: 100%;
    object-fit: cover;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    width: 95%;
    margin: 0 2.5%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-controls button {
    background: var(--primaryColor);
    border: none;
    width: 125px;
    height: 125px;
    border-radius: var(--round);
    color: white;
    padding: 10px;
    font-size: 60px;
    box-shadow: var(--interactionShadow);
    transition: .3s;
}

.carousel-controls button:hover {
    filter: contrast(150%);
    transform: scale(1.05);
}

/* --- ANIMATIONS --- */

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(-50%) translateY(0);
    }

    40% {
        transform: translateX(-50%) translateY(-15px);
    }

    60% {
        transform: translateX(-50%) translateY(-10px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


/* --- HEADER --- */
@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}